/*************************************************************
  Written by ????, Term 1 2021
  Style a basic W3.CSS interface.
    v1 Basic layout of landing & game pages.
*************************************************************/
html {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  color: black;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main";
}

p {
  color: #2b2b2b;
  font-size: 1vw;
}

canvas {
  display: block;
  border-radius: 1vw;
}

#landingPage {
  display: none;
  height: 100vh;
}

#gamePage {
  display: none;
  height: 100vh;
}

#helloHeader {
  height: 15vh;
}

.container {
  background-color: #61d6e6;
  border-radius: 50vw;
  padding: 1vh 1vw 1vh 1vw;
}

.highlightText {
  background-color: #ffffff;
  border-radius: 5vw;
  padding: 1vh 1vw 1vh 1vw;
  margin-top: -1vh;
}

.menu-button {
  font-size: 1vw;
  background-color: #ffffff;
  border-radius: 1vw;
  border-style: none;
  padding: 1vw 1vw 1vw 1vw;
  margin: 1vw auto;
  display: block;
}

.button {
  font-size: 1vw;
  background-color: #92e8f3;
  border-radius: 1vw;
  border-style: none;
  padding: 1vw 1vw 1vw 1vw;
  margin: 1vw auto;
  display: block;
}

.card {
  width: 75%;
  height: 75%;
  background-color: white;
  display: inline-block;
  border-radius: 1vw;
  margin: auto;
}

.modal {

  max-width: 60vw;
}
/*------------------------------------------------------------*
  LANDING page styling
/*------------------------------------------------------------*/
#landingPage header {
  grid-area: header;
}

#landingPage main {
  grid-area: main;
}

#loadingText {
  font-size: 5vw;
}

#loadingText_BG {
  background-color: #61d6e6;
  border-radius: 50vw;
  padding: 1vw;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

/* nav bar css */
#navigation {
  margin-left: 10vw;
  top: 25px;

  display: grid;
  grid-template-columns: repeat(16, 5vw);
  transition: all 0.3s;
  position: absolute;
  z-index: 2;
}

#gameIcon {
  background-color: white;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50vw;
  grid-column: 1;
  margin: auto;
  margin-left: 0;
}

#breadcrumb {
  font-size: 1rem;
  margin: auto;
  grid-column: 2/4;
}

#title {
  text-align: center;
  grid-column: 7/10;
  font-size: 2vw;
}

/* hambuger container */
#hamburgerContainer {
  grid-column: 14;
  grid-row: 1;
  margin: auto;
  transition: all 0.3s;
}

#hamburgerIcon {
  width: 3.5vw;
  height: 3.5vw;
  margin: auto;
  border-radius: 50vw;
  cursor: pointer;
}

#hamburgerMenu {
  background-color: #92e8f3;
  border-radius: 1vw;
  padding: 1vh 1vw 1vh 1vw;
  height: 19vw;
  width: 11.5vw;
  position: absolute;
  margin: 3.5vh 0 0 -3.5vw;
  transition: all 0.3s;
}

/* ACCOUNT ICON CSS */
#accountContainer {
  grid-column: 15;
  grid-row: 1;
  margin: auto;
  transition: all 0.3s;
}

#accountIcon {
  width: 3.5vw;
  height: 3.5vw;
  margin: auto;
  border-radius: 50vw;
  cursor: pointer;
}

#accountDetails {
  background-color: #92e8f3;
  border-radius: 1vw;
  padding: 1vh 1vw 1vh 1vw;
  height: 26vw;
  width: 15vw;
  position: absolute;
  margin: 3.5vh 0 0 -5vw;
  transition: all 0.3s;
}

/* SEARCH ICON CSS*/
#searchIcon {
  width: 3.5vw;
  height: 3.5vw;
  grid-column: 16;
  grid-row: 1;
  margin: auto;
  cursor: pointer;
  position: relative;
  border-radius: 50vw;
  overflow: visible;
}

#searchIcon:active {
  padding: 10px !important;
}

#searchContainer {
  width: 20vw;
  grid-column: 12;
  grid-row: 1;
  margin: auto;
  box-shadow: #2b2b2b 2px 1px 2px 1px;
}

#search {
  width: 18vw;
  border-radius: 50vw;
  border: none;
  background-image: url(images/magnifying\ glass.png);
  background-size: 1vw;
  background-position: 5px;
  padding-left: 2vw;
  background-repeat: no-repeat;
}

/* hero image */
#hI_background {
  width: 100%;
  height: 35vw;
  z-index: 1;
}

#heroImage {
  width: 50vw;
  height: 25vw;
  transform: translate(50%, 35%);
  opacity: 100% !important;
}

#exploreButton {
  position: relative;
  background-color: #92e8f3;
  color: black;
}

#modal_background {
  position: fixed;
  z-index: 3;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: rgxb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#nA_modal {
  transition: all 0.3s;
  margin: -8.5vw auto;
  height: 7.5vw;
  width: 60vw;
  border-radius: 1vw;
  z-index: 1;
  background-color: #61d6e6;
}

#accountScore_modal {
  display: grid;
  grid-template-columns: repeat(3, 19.333vw);
  grid-template-rows: repeat(3, 4.3333vw);
  width: 60vw;
  height: 15vw;
  top: -10vw;
  margin-left: 20vw;
  transition: all 0.3s;
  border-radius: 1vw;
  position: relative;
  z-index: 1;
  background-color: #61d6e6;
  padding: 1vw;
}

#cardsContainer {
  width: 75%;
  height: 25vw;
  background-color: #61d6e6;
  margin: 5vh auto;
  border-radius: 1vw;
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
}

#footer {
  height: 10vw;
  background-color: #61d6e6;
  
}





/*game page css*/
#statsDiv {
  position: absolute;
  height: 77.5vh;
  width: 15vw;
  background-color: #61d6e6;
  border-radius: 1vw;
  margin-top: 20vh;
  margin-left: 10vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

#gameDiv {
  height: 77.5vh;
  width: 62vw;
  background-color: #61d6e6;
  border-radius: 1vw;
  margin-top: 20vh;
  margin-left: 30vw;
  position: relative;
}

#game_canvasDiv {
  position: absolute;
  height: 72.5vh;
  width: 58vw;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

}

/*text div css*/
#game_textDiv {
  background-color: #92e8f3;
  border-radius: 20px;
  font-size: larger;
  width: 12.5vw;
  height: 23vw;
  padding: 0.5vw;
  margin: auto;
}

/*------------------------------------------------------------*
  REGISTRATION page styling
/*------------------------------------------------------------*/
#registrationPage {
  display: none;
  /* The line below is just so you can see the form during testing //<========*/
  /*display: block;*/
  /* <===== ONCE FORM IS DESIGNED DELETE THIS LINE //<========*/
  height: 86vh;
}

.transparentBG {
  background: rgba(169, 169, 169, 0.7);
  color: black;
}

/*------------------------------------------------------------*
  ADMIN page & BUTTON styling
/*------------------------------------------------------------*/
#s_adminPage {
  display: none;
  height: 86vh;
  overflow: scroll;
}

#lP_Admin {
  display: none;
  /* none = don't display element */
}

#b_gpAdmin {
  display: none;
  /* none = don't display element */
}

/*************************************************************
/*    END OF CSS
*************************************************************/